<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title> E.E. Americo Franco </title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/default.css">
	<link rel="shortcut icon" href="/static/css/favicon.ico" />
	
	
</head>
<body>
	
<img src="/static/css/escola.jpeg"></img>

<p><a href="https://sed.educacao.sp.gov.br/"> Secretaria Escolar Digital </a></h2>



<h2> Servidores & Materiais. </h2>
	 
	<button><a href="/servidores">Servidores</a></button>
	<button><a href="/materiais">Materiais</a></button>
	<button><a href="/agendamento">Agendamentos</a></button>
	<button><a href="/devolucao">Devolução</a></button>
	<button><a href="/pesquisa">Pesquisa</a></button>
	

<div class="items">
<p id="/pesquisa" id="pesquisa" method="post">
   <br>
	<h2> Informações Rápidas.</h2>
	<br>
	<label>Pesquisa</label>
	<input type="text" id="form_busca" />
	<br>

	<button type="submit"   id="busca" onclick="pesquisa()"> Pesquisar </button>  
	<hr>
</p>
	
		
</div>
	
<!-- Carregar arquivo JS depois de renderizado HTML-->
<script  src="/script/pesquisa.js"></script>
</body>

</html>
