<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title> E.E. Americo Franco </title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/default.css">
	<link rel="shortcut icon" href="/static/css/favicon.ico" />
	
	
</head>
<body>
	
<a href="/servidores"><img src ="/static/css/escola.jpeg" alt="" id="imagem"></img></a>
<br>
<a href="https://sed.educacao.sp.gov.br/"> Secretaria Escolar Digital </a>




	 
<button><a href="/alunos"> Alunos</a></button>
<button><a href="/servidores">Servidores</a></button>
<button><a href="/materiais">Materiais</a></button>
<button><a href="/agendamento">Agendamentos</a></button>
<button><a href="/devolucao">Devolução</a></button>

	

<form action="/pesquisa_materiais" id="pesquisa" method="post">
   <br>
	<h1> INFORMAÇÕES RÁPIDAS.</h1>
	<br>
	<label>Pesquisa</label>
	<input type="text" name="form_busca" />
	<br>
	<br>

	<button type="submit"   class="btn" id="btn_busca" name ="btn_busca" onclick="pesquisa()"> Pesquisar </button>  
	<br>
	<br>
<<<<<<< HEAD
	<hr> 
	<table id="tabela">
		<thead>
				<th>Ativo nº</th>
				<th>Descrição</th>
				<th>Tipo_Periféricos</th>
				<th>Avarias</th>
				</thead>
			</tr>
			<!-- Variaveis EJS-->
			<% var materiais; %>
			<% materiais.forEach(materiais => { %> 
				<tr>
					<td> <%- materiais,Ativo %></td>
					<td><%- materiais,Descricao %> </td>
					<td><%- materiais.Periferico.Cargo %></td>
					<td><%- materiais.Avarias %></td>
					</tr>
				
			<% }); %>
			
		</table>
	
	 
	
=======
	<hr>
	
	<table>
		<tbody id="list" >
				</tbody>
	</table>
>>>>>>> 3168eea5156a490fcdd796552241465973bb6204
	</form>


	
<!-- Carregar arquivo JS depois de renderizado HTML-->
<script  src="/script/pesquisa_materiais.js"></script>
</body>

</html>
