<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title> E.E. Americo Franco </title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/default.css">
	<link rel="shortcut icon" href="/static/css/favicon.ico" />
	
	
</head>
<body>
	

<img src ="/static/css/escola.jpeg" alt="" id="imagem"></img>
<br>
<a href="https://sed.educacao.sp.gov.br/"> Secretaria Escolar Digital </a>
<br>
<br>
<h1> CRSE </h1>
<h1> Controle de Registros da Secretaria Escolar </h1>
<br>
<br>
<h1> Cadastro de novos usuários.</h1>
<br>
<br>
<form action="/login" id="validation" method="post">

<p><label>Novo Email: </label></p>
<p><input type="text" name="form_email" id="form_email" /></p>
<p><button type="submit" class="btn" name="btn_submit" onclick="sendEmail()" >Enviar Novo Email</button></p>

<br>
<br>
<p><label> Nova senha: </label></p>

<!-- name = req.body e id = javascript.-->
<p><input type="text" name="form_nova_senha" id="form_nova_senha" /></p>
<br>
<p><label> Redigitar : </label></p>
<p><input type="text" name="form_confirme_nova_senha" id="form_onfirme_nova_senha" /></p>
<p><button type="submit" class="btn" name="btn_submit" onclick="nova_senha()" >nova_senha</button></p>

<br>

<br>
<br>
<p> EE Americo Franco Poá_SP </p>
</form>
<script src="/script/login.js" ></script>
</body>
</html>

